<footer>
  <div class="wrapper">
    <div class="footerContain clear">
      <ul>
        <li class="logoPos">
          <a href=""><img src="assets/images/logo_footer.png"/></a>
        </li>
        <li>
          <h3>KNOW MORE</h3>
          <ul>
            <li>
              <a href="">Home </a>
            </li>
            <li><a href="">
              About TAP 
            </a></li>
            <li>
              <a href="">
                Contact Us 
              </a>
            </li>
            <li>
              <a href="">
                Terms of Service 
              </a>
            </li>
            <li><a href="">Privacy Policy </a></li>
          </ul>
        </li>
        <li>
          <h3>Explore</h3>
          <ul>
            <li>
              <a href="">Home </a>
            </li>
            <li><a href="">
              About TAP 
            </a></li>
            <li>
              <a href="">
                Contact Us 
              </a>
            </li>
            <li>
              <a href="">
                Terms of Service 
              </a>
            </li>
            <li><a href="">Privacy Policy </a></li>
          </ul>
        </li>
        <li>
          <h3>download</h3>
          <p><strong>TAP</strong> | Download the mobile app - Your voice change India. </p>
          <div class="social_footer">
            <a href="">
              <img src="assets/images/googlestore.png"/>
            </a>
            <a href="">
              <img src="assets/images/appstore.png"/>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="footerCopyright clear">
      <div>
        <label>2016 © taponlineindia. All rights reserved.</label><a href="" class="join">JOIN NOW</a>
      </div>
      <div class="social_logo">
        <div>
          <a href="">
              
              <img src="assets/images/twitter_footer.png"/>
            </a>
            <a href="">
              <img src="assets/images/facebook_footer.png"/>
            </a>
            <a href="">
              <img src="assets/images/instagra_footer.png"/>
            </a>
            <a href="">
              <img src="assets/images/in_footer.png"/>
            </a>
        </div>
        <label>@tapindiaonline</label>
      </div>
    </div>
  </div>
</footer>