<!--<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>-->
<header>
  <div class="wrapper">
    <div class="contain clear">
      <div class="logo">
        <a ui-sref="home"><img src="assets/images/logo.png"/></a>
        <label>Your voice can change India</label>
      </div>
      <div class="navigation">
        <ul>
          <li><label>We are social!</label></li>
          <li class="social">
            <a href="">
              
              <img src="assets/images/twitter.png"/>
            </a>
            <a href="">
              <img src="assets/images/facebook.png"/>
            </a>
            <a href="">
              <img src="assets/images/ecllipse.png"/>
            </a>
            <a href="">
              <img src="assets/images/instagra.png"/>
            </a>
          </li>
          <li class="loginLink">
            <a ui-sref="login">
              Sign in / Sign up
            </a>
          </li>
        </ul>
         <!---<ul class="nav navbar-nav navbar-right acme-navbar-text">
          <li>Application was created {{ vm.relativeDate }}.</li>-->
        </ul>
      </div>
    </div>
  </div>
</header>