*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clear {
    zoom: 1
}

.clear:before,.doubleRow:before,
.clear:after,.doubleRow:after{
    content: " ";
    display: table;
}

.clear:after,.doubleRow:after{
    clear: both;
}

html,
body,
header,
footer,
section,
div,
span,
nav,
ul,
ul li,
a,
h1,
h2,
h3,
h4,
h5,
strong,
p {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'klavika', sans-serif;
}

a,
p,
h2 {
    text-decoration: none;
}
a{
    color: #484844;
}
ul {
    list-style: none;
}

header {
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    left: 0;
    top: 0;
    height: 110px;
}

.logo a {
    display: inline-block;
    width: 230px;
}

.logo label {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 30px;
    padding: 7px 20px;
    border-radius: 18px;
    background-color: #f4f7f8;
    border: 1px solid #dbdbdb;
    font-family: 'klavika';
    font-size: 16px;
    font-weight: 300;
    color: #353535;
}

header .contain {
    padding-top: 15px;
    padding-bottom: 10px;
}

header .wrapper {
    padding-left: 50px;
    padding-right: 50px;
}
.mainView{height: 100%;}
.wrapper {
    padding-left: 100px;
    padding-right: 100px;
    display: table;
    width: 100%;
    height: 100%;
}

header img,.mainContain img,footer img {
    width: 100%;
    display: block;
}

.navigation li {
    float: left;
    padding-left: 25px;
}

.navigation .social a {
    display: inline-block;
    margin-left: 5px;
    width: 40px;
    margin-top: 7px;
}

.navigation label,
.navigation .loginLink a {
    margin-top: 17px;
    display: block;
    color: #353535;
}

header .contain > div {
    float: left;
}

header .contain > div.navigation {
    float: right;
    padding-top: 8px;
}

.contain {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mainContain {
    background-image: url('../../assets/images/banner_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 110px;
}
.mainContain .wrapper{
    background-color: rgba(6, 6, 6, 0.41);
}
.mobileCarousal:before {
    content: "";
    background-image: url('../../assets/images/phoneCover.png');
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.mobileCover:after {
    content: "";
    background-image: url('../../assets/images/shadow.png');
    background-size: 100% 20px;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    height: 93px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.mobileCarousal {
    width: 240px;
    padding: 75px 25px 13px 16px;
    overflow: hidden;
    display: inline-block;
}

.mobileCover {
    width: 45%;
    float: left;
    text-align: center;
}

.mobileContent {
    width: 55%;
    float: left;
    text-align: left;
}

.mobileContent.toggleContent .textContent {
    display: none
}

.mobileContent.toggleContent .userContent {
    display: block;
}

.containTxt {
    text-align: left;
    color: white;
}

.containTxt h3 {
    font-family: 'klavika';
    font-size: 38px;
    font-weight: 300;
    padding-top: 15%;
    color: white;
    padding-right: 20%;
}

.containTxt h4 {
    padding-top: 20px;
    font-size: 21px;
    font-weight: 500;
}

.eventTrigger a {
    display: inline-block;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 13px 30px;
    color: white;
    background-color: rgba(21, 17, 18, 0.19);
    margin-top: 20px;
    border:2px solid white;
    border-radius: 6px;
    margin-right: 15px;
}
.eventTrigger a:hover,.eventTrigger a.active{
    background-color: #f36379;
    border:2px solid #f36379;
}
.downloadPath a {
    display: inline-block;
    width: 180px;margin: 3px;margin-top: 20px;z-index: 9;
}

.pageContent > div {
    float: left;
    width: 60%;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pageContent > div.shortContent {
    width: 40%;
    padding-left: 80px;
}

.pageContent h3 {
    color: #f36379;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
}
.pageContent h3:after,.footerContain li h3:after{
    content:"";
    position: absolute;
    bottom: 5px;
    left:0px;
    border-bottom: 2px solid #f36379;
    width: 80px; 
}
.footerContain li h3:after{
     width: 50px;bottom: 3px; 
}
.pageContent .shortContent h3 {
    color: #555555;font-size: 16px;
}

.pageContent h4 {
    color: #555555;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 18px;
    line-height: 20px;
    padding-top: 10px;
}

.pageContent p {
    font-size: 17px;
    font-weight: 300;
    color: #555555;
    padding-bottom: 20px;
    line-height: 22px;
}

footer {
    background-color: #222222;
    padding-top: 55px;
    padding-bottom: 30px;
}

footer ul li {
    width: 21.6666666667%;
    float: left;
    text-align: left
}

footer ul li.logoPos {
    width: 35%;
}

footer ul li ul li {
    width: 100%;
    float: none;
}

footer ul li ul li a,
footer ul li p {
    color: #7a7a7a;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
}

footer ul li p strong {
    font-weight: 700;
}

.logoPos a {
    width: 85%;
    display: block;
    margin-top: 0px;
    padding: 60px;
    padding-left: 0px;
}

.social_footer a {
    display: block;
    padding-bottom: 5px;
    width: 185px;
    padding-top: 5px;
}

footer h3 {
    color: #5d5d5d;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 700;
}

.footerCopyright {
    padding-top: 15px;
}

.footerCopyright > div {
    float: left;
    width: 50%;
    text-align: left;
    color: white;
    padding-top: 13px;
}

.footerCopyright > div.social_logo {
    text-align: right;
    padding-top: 0px;
}
.footerCopyright label{
    color:#9a9a9a;
}
.join {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 30px;
    color: white;
    background-color: #f36379;
    border-radius: 6px;
    margin-left: 15px;
}

.social_logo > div {
    display: inline-block;
}

.social_logo a {
    display: inline-block;
    width: 45px;
    margin: 5px;
}

.social_logo label {
    font-size: 15px;
    font-weight: 300;
    color: white;
    vertical-align: top;
    padding-top: 20px;
    display: inline-block;
}
.userContent {
    width: 500px;
    margin: auto;
}
input::-webkit-input-placeholder{ 
  color:#484844;font-size: 15px;font-weight: 300;
}
input::-moz-placeholder{ 
  color:#484844;font-size: 15px;font-weight: 300;
}
input::-ms-input-placeholder{ 
  color:#484844;font-size: 15px;font-weight: 300;
}
input::-moz-placeholder{ 
  color:#484844;font-size: 15px;font-weight: 300;
}
input::placeholder {
  color: #484844;font-size: 15px;font-weight: 300;
}
.loginBox,.registerBox{
    background-color: white;
    padding: 55px;
    border-radius: 4px;
    margin-top: 15px;
    padding-top: 75px;
}
.loginBox:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 18px solid white;
    top: 0px;
    position: absolute;
    left: 0px;
    margin-top: -17px;
    margin-left: 17px;
}
.userWrap .row {
    padding:0px;
   
}

.row input {
    width: 100%;
    height: 46px;
}

.row input[type="text"],
.row input[type="password"] {
    padding-left: 15px;
    font-family: 'klavika', sans-serif;
    border:none;height: 55px;
    border-top:1px solid black;
}
.row input[type="text"]:focus,
.row input[type="password"]:focus{
     outline: none;
}
.row input[type="button"],
.row input[type="submit"] {
    background-color: #f36379;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-family: 'klavika', sans-serif;
}
.ulLink li{float:left;}
.ulLink a {
    color: white;
    display: inline-block;
    font-weight: 400;
    font-size: 17px;
    padding: 10px;
    padding-left: 0px;
}
.outerRow li {
    width: 50%;
    float: left;
    text-align: left;
    padding: 12px
}

.outerRow li:last-child {
    text-align: right
}

.outerRowSocial li {
    display: inline-block;padding:2px;
}

.outerRowSocial li a {
    color: white;
    padding: 12px 18px;
    padding-left: 31px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;
   
}
.outerRowSocial li:last-child a{
     border: 1px solid #cfcfcf;
}
.outerRowSocial {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}
.pageContent p a{
    color: #1d8bfc
}
.outerRowSocial ul {
    display: inline-block;
    padding-top: 20px;
}

.outerRowSocial li a:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: right;
    width: 30px;
    height: 100%;
}

.twitter a:before {
    background-image: url('../../assets/images/twitter_icon.png');
}

.facebook a:before {
    background-image: url('../../assets/images/facebook_icon.png');
}

.google a:before {
    background-image: url('../../assets/images/google.png');
}

.outerRowSocial li.google a {
    color: black
}

.twitter a {
    background-color: #57acef;
}

.facebook a {
    background-color: #3c5899;
}

.google a {
    background-color: #f8f8f8;
}
/*----------------------------------------------Registration------------------------*/
.registerBox{display: none;}
.registerBox:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 18px solid white;
    top: 0px;
    position: absolute;
    left: 0px;
    margin-top: -17px;
    margin-left: 80px;
}
.registerTrax .loginBox{display: none;}
.registerTrax .registerBox{display: block;}
.doubleRow .row{float:left;width: 50%;padding:0;}
.doubleRow .row:nth-child(1){padding-right: 5px}
.doubleRow .row:nth-child(2){padding-left: 5px}
.registerTrax .mainContain{height: auto;}
.registerTrax .mainContain .wrapper{height: auto;padding-bottom: 60px;padding-top: 90px;}
/*-----------------------------------------------------------------------------------*/